.header {
  background-color: #222;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  color: white;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav.open {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #FFE5B4; 
}

